*~
ABOUT-NLS
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
asn1/.deps/
asn1/Makefile
asn1/Makefile.in
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
build-aux/ylwrap
config.h
config.h.in
config.log
config.status
configure
db/.deps/
db/.libs/
db/Makefile
db/Makefile.in
db/config.lo
db/config.o
db/core.lo
db/core.o
db/db.lo
db/db.o
db/err.lo
db/err.o
db/file.lo
db/file.o
db/fileutil.lo
db/fileutil.o
db/gl/.deps/
db/gl/.libs/
db/gl/Makefile
db/gl/Makefile.in
db/gl/allocator.lo
db/gl/allocator.o
db/gl/areadlink.lo
db/gl/areadlink.o
db/gl/arg-nonnull.h
db/gl/c++defs.h
db/gl/careadlinkat.lo
db/gl/careadlinkat.o
db/gl/libgnu.la
db/gl/sys/
db/gl/time.h
db/gl/warn-on-use.h
db/gl/wchar.h
db/libshisa.la
db/setup.lo
db/setup.o
doc/Makefile
doc/Makefile.in
doc/ccache2shishi.1
doc/cyclo/cyclo-shishi.html
doc/keytab2shishi.1
doc/man/
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/
doc/reference/pdf-build.stamp
doc/reference/pdf.stamp
doc/reference/scan-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/shishi-decl-list.txt
doc/reference/shishi-decl.txt
doc/reference/shishi-decl.txt.bak
doc/reference/shishi-overrides.txt
doc/reference/shishi-sections.txt
doc/reference/shishi-undeclared.txt
doc/reference/shishi-undocumented.txt
doc/reference/shishi-unused.txt
doc/reference/shishi.args
doc/reference/shishi.hierarchy
doc/reference/shishi.interfaces
doc/reference/shishi.pdf
doc/reference/shishi.prerequisites
doc/reference/shishi.signals
doc/reference/shishi.types
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/low-crypto.sgml
doc/reference/tmpl/shishi.sgml
doc/reference/tmpl/shishi.sgml.bak
doc/reference/xml/
doc/shisa.1
doc/shishi-api-error-labels.texi
doc/shishi.1
doc/shishi.aux
doc/shishi.cp
doc/shishi.cps
doc/shishi.dvi
doc/shishi.fn
doc/shishi.fns
doc/shishi.html
doc/shishi.info
doc/shishi.info-1
doc/shishi.info-2
doc/shishi.info-3
doc/shishi.ky
doc/shishi.log
doc/shishi.pdf
doc/shishi.pg
doc/shishi.ps
doc/shishi.toc
doc/shishi.tp
doc/shishi.vr
doc/shishi.vrs
doc/shishid.1
doc/stamp-vti
doc/texi/
doc/version.texi
examples/.deps/
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/client
examples/client-cksum
examples/client-cksum.o
examples/client-priv
examples/client-priv.o
examples/client-safe
examples/client-safe.o
examples/client.o
examples/server
examples/server.o
extra/Makefile
extra/Makefile.in
extra/pam_shishi/.deps/
extra/pam_shishi/.libs/
extra/pam_shishi/Makefile
extra/pam_shishi/Makefile.in
extra/pam_shishi/pam_shishi.la
extra/pam_shishi/pam_shishi.lo
extra/pam_shishi/pam_shishi.o
extra/rsh-redone/.deps/
extra/rsh-redone/Makefile
extra/rsh-redone/Makefile.in
gl/.deps/
gl/.libs/
gl/Makefile
gl/Makefile.in
gl/alloca.h
gl/arcfour.lo
gl/arcfour.o
gl/arg-nonnull.h
gl/arpa/
gl/asnprintf.lo
gl/asnprintf.o
gl/base64.lo
gl/base64.o
gl/c++defs.h
gl/c-ctype.lo
gl/c-ctype.o
gl/close-hook.lo
gl/close-hook.o
gl/crc.lo
gl/crc.o
gl/des.lo
gl/des.o
gl/fcntl.h
gl/fcntl.lo
gl/fcntl.o
gl/fd-hook.lo
gl/fd-hook.o
gl/gc-libgcrypt.lo
gl/gc-libgcrypt.o
gl/gc-pbkdf2-sha1.lo
gl/gc-pbkdf2-sha1.o
gl/getdate.c
gl/getdate.lo
gl/getdate.o
gl/gettime.lo
gl/gettime.o
gl/hmac-md5.lo
gl/hmac-md5.o
gl/hmac-sha1.lo
gl/hmac-sha1.o
gl/libgnu.la
gl/link-warning.h
gl/malloca.lo
gl/malloca.o
gl/md4.lo
gl/md4.o
gl/md5.lo
gl/md5.o
gl/memxor.lo
gl/memxor.o
gl/mktime.lo
gl/mktime.o
gl/netdb.h
gl/parse-datetime.c
gl/parse-datetime.lo
gl/parse-datetime.o
gl/printf-args.lo
gl/printf-args.o
gl/printf-parse.lo
gl/printf-parse.o
gl/read-file.lo
gl/read-file.o
gl/sha1.lo
gl/sha1.o
gl/signal.h
gl/sockets.lo
gl/sockets.o
gl/stdalign.h
gl/stdio.h
gl/stdlib.h
gl/string.h
gl/strings.h
gl/sys/
gl/time.h
gl/unistd.h
gl/vasnprintf.lo
gl/vasnprintf.o
gl/warn-on-use.h
gl/wchar.h
gl/xasprintf.lo
gl/xasprintf.o
gl/xgetdomainname.lo
gl/xgetdomainname.o
gl/xgethostname.lo
gl/xgethostname.o
gl/xmalloc.lo
gl/xmalloc.o
gl/xstrndup.lo
gl/xstrndup.o
gl/xvasprintf.lo
gl/xvasprintf.o
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/ap.lo
lib/ap.o
lib/aprep.lo
lib/aprep.o
lib/apreq.lo
lib/apreq.o
lib/as.lo
lib/as.o
lib/asn1.lo
lib/asn1.o
lib/authenticator.lo
lib/authenticator.o
lib/authorize.lo
lib/authorize.o
lib/ccache.lo
lib/ccache.o
lib/cfg.lo
lib/cfg.o
lib/crypto-3des.lo
lib/crypto-3des.o
lib/crypto-aes.lo
lib/crypto-aes.o
lib/crypto-ctx.lo
lib/crypto-ctx.o
lib/crypto-des.lo
lib/crypto-des.o
lib/crypto-md.lo
lib/crypto-md.o
lib/crypto-null.lo
lib/crypto-null.o
lib/crypto-rc4.lo
lib/crypto-rc4.o
lib/crypto.lo
lib/crypto.o
lib/diskio.lo
lib/diskio.o
lib/encapreppart.lo
lib/encapreppart.o
lib/enckdcreppart.lo
lib/enckdcreppart.o
lib/encticketpart.lo
lib/encticketpart.o
lib/error.lo
lib/error.o
lib/gztime.lo
lib/gztime.o
lib/hostkeys.lo
lib/hostkeys.o
lib/init.lo
lib/init.o
lib/kdc.lo
lib/kdc.o
lib/kdcrep.lo
lib/kdcrep.o
lib/kdcreq.lo
lib/kdcreq.o
lib/kerberos5.lo
lib/kerberos5.o
lib/key.lo
lib/key.o
lib/keys.lo
lib/keys.o
lib/keytab.lo
lib/keytab.o
lib/krberror.lo
lib/krberror.o
lib/libshishi.la
lib/low-crypto.lo
lib/low-crypto.o
lib/netio.lo
lib/netio.o
lib/password.lo
lib/password.o
lib/pki.lo
lib/pki.o
lib/principal.lo
lib/principal.o
lib/priv.lo
lib/priv.o
lib/realm.lo
lib/realm.o
lib/resolv.lo
lib/resolv.o
lib/safe.lo
lib/safe.o
lib/shishi-int.h
lib/starttls.lo
lib/starttls.o
lib/tgs.lo
lib/tgs.o
lib/ticket.lo
lib/ticket.o
lib/tkt.lo
lib/tkt.o
lib/tktccache.lo
lib/tktccache.o
lib/tkts.lo
lib/tkts.o
lib/utils.lo
lib/utils.o
lib/version.lo
lib/version.o
libtool
m4/codeset.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
po/*.gmo
po/*.po
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.gmo
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@quot.gmo
po/en@quot.header
po/en@quot.insert-header
po/fr.gmo
po/insert-header.sin
po/pl.gmo
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/shishi.pot
po/stamp-po
po/vi.gmo
shisa.conf
shishi-*.tar.gz
shishi-*.tar.gz.sig
shishi.conf
shishi.pc
shishi.skel
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/ccache2shishi
src/ccache2shishi.o
src/ccache2shishi_cmd.c
src/ccache2shishi_cmd.h
src/gl/.deps/
src/gl/.libs/
src/gl/Makefile
src/gl/Makefile.in
src/gl/arg-nonnull.h
src/gl/c++defs.h
src/gl/getopt.h
src/gl/getopt.lo
src/gl/getopt.o
src/gl/getopt1.lo
src/gl/getopt1.o
src/gl/libgnu.la
src/gl/link-warning.h
src/gl/locale.h
src/gl/progname.lo
src/gl/progname.o
src/gl/version-etc.lo
src/gl/version-etc.o
src/gl/warn-on-use.h
src/kdc.o
src/keytab2shishi
src/keytab2shishi.o
src/keytab2shishi_cmd.c
src/keytab2shishi_cmd.h
src/libcmd-ccache2shishi.la
src/libcmd-keytab2shishi.la
src/libcmd-shisa.la
src/libcmd-shishi.la
src/libcmd-shishid.la
src/libcmd_ccache2shishi_la-ccache2shishi_cmd.lo
src/libcmd_ccache2shishi_la-ccache2shishi_cmd.o
src/libcmd_keytab2shishi_la-keytab2shishi_cmd.lo
src/libcmd_keytab2shishi_la-keytab2shishi_cmd.o
src/libcmd_shisa_la-shisa_cmd.lo
src/libcmd_shisa_la-shisa_cmd.o
src/libcmd_shishi_la-shishi_cmd.lo
src/libcmd_shishi_la-shishi_cmd.o
src/libcmd_shishid_la-shishid_cmd.lo
src/libcmd_shishid_la-shishid_cmd.o
src/resume.o
src/server.o
src/shisa
src/shisa.o
src/shisa_cmd.c
src/shisa_cmd.h
src/shishi
src/shishi.o
src/shishi_cmd.c
src/shishi_cmd.h
src/shishid
src/shishid.o
src/shishid_cmd.c
src/shishid_cmd.h
src/starttls.o
stamp-h1
tests/.deps/
tests/.libs/
tests/Makefile
tests/Makefile.in
tests/authenticator
tests/authenticator.o
tests/ccache
tests/ccache.o
tests/crypto
tests/crypto-ctx
tests/crypto-ctx.o
tests/crypto.o
tests/gztime
tests/gztime.o
tests/key
tests/key.o
tests/keytab
tests/keytab.o
tests/libutils.la
tests/low-crypto
tests/low-crypto.o
tests/nonce
tests/nonce.o
tests/passwdpromptcb
tests/passwdpromptcb.o
tests/priv
tests/priv.o
tests/rijndael
tests/rijndael.o
tests/safe
tests/safe.o
tests/ticketset
tests/ticketset.o
tests/utils.lo
tests/utils.o
